.card {
    border: none;
    /* border-radius: 10px; */
    /* background-color: #3c373e; */
    background: rgba(0, 0, 0, 0.4);
}

.c-details span {
    font-weight: 300;
    font-size: 13px;
}

.progress {
    height: 10px;
    border-radius: 10px;
}

.progress div {
    background-color: red;
}

.text1 {
    font-size: 14px;
    font-weight: 600;
}

.text2 {
    color: #a5aec0;
}

.animate-charcter {
    text-transform: uppercase;
    background-image: linear-gradient(
        -225deg,
        #231557 0%,
        #44107a 29%,
        #ff1361 67%,
        #fff800 100%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 19px;
}

@keyframes textclip {
    to {
        background-position: 200% center;
    }
}

.data {
    display: flex;
    justify-content: space-between;
}
