body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(22, 20, 24);
    color: #eee;
    user-select: none;
}

.nft {
    user-select: none;
    max-width: 300px;
    margin: 5rem auto;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: linear-gradient(
        0deg,
        rgba(40, 44, 52, 1) 0%,
        rgba(17, 0, 32, 0.5) 100%
    );
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: 0.7rem;
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    overflow: hidden;
    transition: 0.5s all;
}

.nft hr {
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
}

.nft ins {
    text-decoration: none;
}

.nft .main {
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 1rem;
}

.nft .tokenImage {
    border-radius: 0.5rem;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.nft .description {
    margin: 0.5rem 0;
    color: #a89ec9;
}

.nft .tokenInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nft .price {
    display: flex;
    align-items: center;
    color: #ee83e5;
    font-weight: 700;
}

.nft .price ins {
    margin-left: -0.3rem;
    margin-right: 0.5rem;
}

.nft .duration {
    display: flex;
    align-items: center;
    color: #a89ec9;
    margin-right: 0.2rem;
}

.nft .duration ins {
    margin: 0.5rem;
    margin-bottom: 0.4rem;
}

.nft .creator {
    display: flex;
    align-items: center;
    margin-top: 0.2rem;
    margin-bottom: -0.3rem;
}

.nft .creator ins {
    color: #a89ec9;
    text-decoration: none;
}

.nft .creator .wrapper {
    display: flex;
    align-items: center;
    border: 1px solid #ffffff22;
    padding: 0.3rem;
    margin: 0;
    margin-right: 0.5rem;
    border-radius: 100%;
    box-shadow: inset 0 0 0 4px #000000aa;
}

.nft .creator .wrapper img {
    border-radius: 100%;
    border: 1px solid #ffffff22;
    width: 2rem;
    height: 2rem;
    object-fit: cover;
    margin: 0;
}

.nft::before {
    position: fixed;
    content: '';
    box-shadow: 0 0 100px 40px #ffffff08;
    top: -10%;
    left: -100%;
    transform: rotate(-45deg);
    height: 60rem;
    transition: 0.7s all;
}

.nft:hover {
    border: 1px solid #ffffff44;
    box-shadow: 0 7px 50px 10px #000000aa;
    transform: scale(1.015);
    filter: brightness(1.3);
}

.nft:hover::before {
    filter: brightness(0.5);
    top: -100%;
    left: 200%;
}

.bg {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bg h1 {
    font-size: 20rem;
    filter: opacity(0.5);
}
.btn,
.btn:link,
.btn:visited {
    font-size: 1.2rem;
    padding: 0.5rem 2rem;
    margin: 0px 20px;
    border-radius: 10rem;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    position: relative;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    font-weight: 400;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    /*Add later when we use this for the button in form*/
    border: none;
    cursor: pointer;
}

.btn:hover {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
    -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:active {
    -webkit-transform: translateY(-1px);
    transform: translateY(-1px);
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
    outline: none;
    background-color: #2e864b;
}

.alert {
    position: fixed;
    top: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 9999;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 1.6rem 15rem;
    -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
    box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
}
.alert--success {
    background-color: #20bf6b;
}
.alert--error {
    background-color: #eb4d4b;
}
